html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  vertical-align: middle;
}

main {
  max-width: inherit;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1.125em;
}

img {
  display: block;
  max-width: 25em;
  width: 100%;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

h2 {
  font-weight: bold;
  padding-bottom: 1em;
}

p {
  font-size: 1em;
}
main header {
  color: black;
  padding: .4em .75em .5em;
  text-align: left;
  text-overflow: clip;

}

.btn li a {
  display: inline-block;
  color: #333;
  padding: .75em 1.125em;
  border: 3px solid #333;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  margin-top: .5em;
}

.btn {
  margin: 0;
  padding: 0;
  padding-left: .75em;
  list-style-type: none;
  align-content: center;
}

.btn li a:hover {
  background-color: #666;
  color: white;
}

.box1 {
  flex: 0 1 auto;
  align-content: center;
  width: auto;
}

.box2 {
  flex: 0 1 auto;
  max-width: 25em;
  margin-left: .5%;
  margin-right: .5%;
  width: 98%;
  align-content: center;
}
