html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  marging: 0;
}

main {
  max-width: inherit;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 25em;
  width: 100%;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

main header {
  color: black;
  padding: 0.4em 0.75em 0.5em;
  text-align: left;
  text-overflow: clip;
}

.btn li a {
  display: inline-block;
  color: #333;
  padding: 1em;
  border: 3px solid #333;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
}

.btn {
  padding: 0;
  padding-left: 1em;
  list-style-type: none;
  align-content: center;
}

.btn li a:hover {
  background-color: #666;
  color: white;
}

.box1 {
  flex: 0 1 auto;
  align-content: center;
  width: auto;
}

.box2 {
  flex: 0 1 auto;
  max-width: 25em;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 95%;
  align-content: center;
}
